<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Home</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1>Welcome to <span th:text="${appName}">Our App</span></h1>
        <ul>
            <li><a href="about">About</a></li>
            <li><a href="records">Records</a></li>
        </ul>
        <hr>
        <h5>Copyright SpringWebFirst 2019</h5>
    </body>
</html>
